<!DOCTYPE html>
<html lang="en">
  <head>
      {% include 'header.html' %}
  </head>

  <body>
     
        {% include 'navbar.html' %}
   
      <!-- Body Content -->
   
      <div class="jumbotron">
            <h2>OH SNAP!</h2>
            <h2><code>{{ messageobj }}</code></h2>
      </div>  
      <div class="row">
         <div class="col-6 col-offset-2">
            <h4>Some Common Issues</h4>
               <ul>
                  <li>
                     <p><span class="label label-danger">Domain cannot use apis</span> - make sure you have enabled API access to your domain</p>
                  </li>
                  <li>
                     <p><span class="label label-danger">Not Authorized to access this resource/api</span> - user does not have admin privileges</p>
                  </li>
               </ul>
         </div>
      </div> <!-- ./row-fluid> -->

      <hr>

      <!-- Footer info for each page -->
      {% include 'footer.html' %}

  </body>
</html>
