<!DOCTYPE html>
<html lang="en">
  <head>
      {% include 'header.html' %}
  </head>

  <body>
     
       {% include 'navbar.html' %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>CDM Tool</h1>
        <p>The best way to get more information about your Chrome Devices without having to do it manually.</p>
        <p><a href="/setup" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
      </div>

      <!-- Info Columns -->
      <div class="row">
        <div class="col-3 col-offset-1">
          <h2>Quick Start</h2>
          <ol>
             <li><p><a href="http://support.google.com/a/bin/answer.py?hl=en&answer=60757">Enable API Access</a> to your domain</p></li>
             <li><p>Have Admin rights / credentials to the domain</p></li>
             <li><p>Click on "I'm ready"</p></li>
          </ol>   
        </div>
        <div class="col-3">
          <h2>Stats</h2>
          <p>Supports the following useful metrics:
            <ul>
               <li>7 Day Active</li>
               <li>Total Devices</li>
               <li>Number of devices on each channel</li>
               <li>Devices per OU</li>
               <li>Number of devices on each version</li>
          </p>
        </div>
        <div class="col-3">
          <h2>Not Enough?</h2>
          <p>Download all the information about your devices in a convenient CSV!</p>
          <p>This includes data normally not readily available on the Chrome Management panel.</p>
        </div>
      </div>
    
    <!-- Footer info for each page -->
    {% include 'footer.html' %}
    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  </body>
</html>
