<!DOCTYPE html>
<html lang="en">
  <head>
   {% include 'header.html' %}
  </head>

	<body>
     
        {% include 'navbar.html' %}
   
      <!-- Body Content -->
   
      <div class="jumbotron">
        <h1>Setup</h1>
        <p>This tool makes use of 2-legged <a href="http://support.google.com/a/bin/answer.py?hl=en&answer=61017">OAuth</a> to help keep your credentials safe</p>
      </div>
      
      <div class="row">
         <div class="col-10 col-offset-2">
            <h3>3 Easy Steps:</h3>
            <ol>
               <li>
                  <p><a href="http://support.google.com/a/bin/answer.py?hl=en&answer=60757">Enable API Access</a></p>
               </li>
               <li>
                  <p>Click on the <strong>Stats</strong> link at the top of the page</p>
               </li>
               <li>
                  <p>When prompted sign in as an admin for the domain.</p>
               </li>
            </ol>
         </div>
      </div> <!-- ./row-fluid> -->


   <!-- Footer info for each page -->
   {% include 'footer.html' %}
     
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  </body>
</html>
