<!DOCTYPE html>
<html>
	<head>
	   {% include 'header.html' %}
	</head>

   {% include 'navbar.html' %}

	<body>
		<h1 class="text-center">Chrome Device Information</h1>
		<div class="row">
			<div class="col-6 col-offset-3">		
				<!-- Put some words in here to take up space -->
				The top section outlines basic useful information found from the device manifest.
				Below that is an abridged listing of the more basic information on the devices.
				This includes the option to download the manifest as a CSV.
				Future releases may allow for editing of the updatable fields inline.
				<!-- This section for graphs ( HTML5 ) -->
			</div>
		</div>
      <div class="row well">
         <div class="col-10 col-offset-1">
      		<div class="col-3">
   				<h4><abbr title="devices that have synced with the control panel in the previous 7 days (inclusive)" class="initialism">Weekly Active</abbr></h4>
   				{{ active|e }}
   				<h4><abbr title="devices that have been enrolled in the past 7 days (inclusive)" class="initialism">7-Day Enrolls</abbr></h4>
   				{{ enroll|e }}
   				<h4><abbr title="number of device-records returned from query" class="initialism">Total</abbr></h4>
   				{{ total|e }}
   			</div><!-- /.col-3 -->
   			<div class="col-2">
   				<h4>Channels</h4>
   				{% for key, value in Channel|sort %}
   					<strong>{{ key|e }}</strong> : {{ value|e }}</br>
   				{% endfor %}
   			</div><!-- /.col-3 -->
   			<div class="col-3">
   				<h4>OU Paths</h4>
   					{% for key, value in OUPath|sort %}
   						<strong>{{ key|e }}</strong> : {{ value|e }}</br>
   					{% endfor %}
   			</div><!-- /.col-3 -->
   			<div class="col-2">
   			   <h4>Status</h4>
   			      {% for key, value in Status|sort %}
   			         <strong>{{ key|e }}</strong> : {{ value|e }}</br>
   			      {% endfor %}
   			</div>
   			<div class="col-2">					
   				<h4>Versions</h4>
   				{% for key, value in Version|sort %}
   					<strong>{{ key[:2]|e }}</strong> : {{ value|e }}</br>
   				{% endfor %}
   			</div><!-- /.col-3 -->
      	</div> <!-- ./col-10 -->
      </div> <!-- ./row -->

		</br></br>
		
		<!-- Table to show % stats on device info -->
		<div class="row">
         <div class="col-3 col-offset-2">
            <p><strong>{{ VersionTotal|e }}</strong> devices reporting version - <span class="label label-info">{{ VersionPercent|e }}%</span></p>
         </div> <!-- ./col-3   -->
         <div class="col-3  ">
            <p><strong>{{ ChannelTotal|e }}</strong> devices reporting channel - <span class="label label-info">{{ ChannelPercent|e }}%</span></p>
         </div> <!-- ./col-3   -->
         <div class="col-3  ">
            <p><span class="label label-info">{{ ActivePercentage|e }}%</span> active in last week</p>
         </div> <!-- ./col-3   -->
      </div> <!-- ./row -->
      
      </br></br>
      
		<!-- Download As CSV Button -->
		<div class="row">
			<div class="col-4 col-offset-4">
				<form class="csv-download" action="/csv" method="get">
					<button type="submit" class="btn btn-large btn-block btn-success">Download CSV</button>
				</form>
			</div>
		</div>
		
		</br></br>
		

      <!-- Footer info for each page -->
      {% include 'footer.html' %}

	</body>
</html>